@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


header{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	height: 6em;
	background-color: var(--headerBackground);
}

header h1 {
	font-family: 'Carattere', cursive; ;
	margin: 0 0.7em;
}