.products-container{
	display: flex;
	flex-direction: column;
}

.products-container ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	width: 100%;
	gap: 1.8em;
	margin-bottom: 2em;
}

.products-container h2{
	
	margin: 2em auto;
}


.products-container li {
	list-style-type: none;
}

.product-card{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-around; */
	border: 1px solid grey;
	border-radius: 0.5em;
	width: fit-content;
	height: 23em;
	padding: 1em;
background-color: var(--cardBackground);
}

.product-card img {
	max-width: 15em;
	grid-column: 1 /span1;
	border-radius: 0.5em;
	overflow: hidden;
}

.product-card h3 {
	grid-column: 1 / span 2;
}

.product-card p {
	padding-top: 3em;
	grid-column: 1 / span 1;
	align-self: flex-end;
	padding-bottom: 0.5em;
} 

.product-card button {
	grid-column: 2 / span 2;
	max-width: fit-content;
	max-height: 2.5em;
	justify-self: flex-end;
	align-self: flex-end;
}