@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position:fixed;
	width: 100%;
	height: 7em;
	color: var(--headerText);
	background-color: var(--headerBackground);
}

header > :first-child{
	text-decoration: none;
}

header h1 {
	font-family: 'Carattere', cursive; ;
	margin: 0.2em 0.7em;
	font-size: 50px;
	color: var(--headerText);
	
}

header nav {
	margin: 0.2em 0.7em;
}

header nav a {
	color: var(--headerText);
	padding: 0.6em;
	transition: 0.3s;
}

header nav a:hover{
	transform: scale(1.2);
}

.icon{
	margin-right: 0.1em;
}

.header-small{
	display: flex;
}

.header-large{
	display: none;
}


/* tablet */
@media (min-width:481px) and (max-width:768px){

}


/* laptop, small screens */
@media (min-width:769px) and (max-width:1024px){

	.header-small{
		display: none;
	}

	.header-large{
		display: flex;
	}

	
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 5em;
	color: var(--headerText);
	background-color: var(--headerBackground);
}

	header h1 {
		margin: 0 0.5em;
	}

	header nav {
		margin: 0 2em;
	}

	header nav * {
		padding: 0 .5em;
	}

	.ikon{
		color: var(--headerText);
		width: 1em;
		padding: 0;
		margin:0;
		text-decoration: none;
}
}

/* desktop, larger screens */
@media (min-width:1025px){

	.header-small{
		display: none;
	}

	.header-large{
		display: flex;
	}

	header{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		height: 5em;
		color: var(--headerText);
		background-color: var(--headerBackground);
	}
	

	header h1 {
		margin: 0 .5em;
	}


	header nav {
		margin: 0 2em;
		height: 1em;
	}

	header nav * {
		padding: 0 .5em;
	}


	.ikon{
		color: var(--headerText);
		width: 1em;
		padding: 0;
		margin:0;
		text-decoration: none;
}
		
	}

